# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Eclipse out dirs
Debug
Release

# ARM target out directory and executable
arm_obj
Ritex

#gedit backup files
*~

# test data bases
data
*.sdb
